<nav class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{path('homepage')}}">
                    <i class="fas fa-home"></i>
                    Homepage
                </a>
            </div>

            {%if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{path('home')}}">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </div>
            {%endif%}

            {%if is_granted('ROLE_ADMIN')%}
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{{path('adminIndexAlbum')}}">My library</a>
                  </li>
              </ul>
            {%endif%}

            {%if not app.user%}
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{{path('registration')}}">Registration</a>
                  </li>
              </ul>

              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{{path('login')}}">Login</a>
                  </li>
              </ul>
            {%else%}
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{{path('logout')}}">Logout</a>
                  </li>
              </ul>
            {%endif%}

    </div>
</nav>

<div class="container alerts mt-3">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible show">
            {% for message in messages %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endfor %}
</div>
